body {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 480px;
  min-width: 320px;
}

md-input-container>input[type="search"] {
  background-color: white;
}